<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Urban Crowdsource</h1>
        <h3>Redesigning Your City</h3>
        <br>
        <a href="#call-to-action" class="btn btn-dark btn-lg">Get Started</a>
    </div>
</header>

<!-- About -->
<!--<% if user_signed_in? %>
    <%= link_to "Logout" , destroy_user_session_path, :method => 'DELETE' %>
    <% else %>
    <%= link_to "Sign in" , new_user_session_path  %> 
    <%= link_to "Sign up" , new_user_registration_path %> 
<%end%> -->


<section id="about" class="about">
    <div class="text-center">
        <h1>What is Urban Crowdsourcing?</h1>
        <br/>
        <div class="container">
            <p>It's a simple concept. We are putting the future of your city into your hands. In under 30 seconds, you can create a new Suggestion describing an idea you would like to see implemented in your city. Your idea will be submitted to our online community who will help evaluate and build on your idea. Then, your idea will be submitted to your local urban planners. 
            Your city's future is really yours to create. </p>
        </div>
    </div>
</section>

<!-- Lastest Suggestions -->
<section id="latest-suggestions" class="latest-suggestions bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Lastest Suggestions</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>What is Urban Crowdsource?</h1>
        <br/>
        <div class="container">
            <p>It's a simple concept. We are putting the future of your city into your hands. In under 30 seconds, you can create a new Suggestion describing an idea you would like to see implemented in your city. Your idea will be submitted to our online community who will help evaluate and build on your idea. Then, your idea will be submitted to your local urban planners. 
            Your city's future is really yours to create. </p>
        </div>
    </div>
</aside>


<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<section id="call-to-action" class="call-to-action bg-primary">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <% if user_signed_in? %>
                        <h3>Alright, let's get to it!</h3>
                        <a href="/suggestions" class="btn btn-lg btn-dark">New Suggestion</a>

                    <% else %>
                        <h3>Alright, let's get to it!</h3>
                        <a href="#" class="btn btn-lg btn-dark">Log In</a>
                        <a href="#" class="btn btn-lg btn-dark">Sign Up</a>
                    <% end %>
                </div>
            </div>
        </div>
</section>



<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</section>