<header id="top" class="header_others bg-primary">
    <div class="row text-center">
        <h1>New Comment</h1>
    </div>
</header>

<div class="container">
	<div class="row text-center">
	<br/>
	<br/>
	<%= form_for @comment, url: suggestion_comments_path do |f| %>
	  <%= f.label :text %>:
	  <%= f.text_field :text %><br />

	  <br/>
	  <%= f.submit %>
	<% end %>
	</div>
</div>