<header id="top" class="header_others bg-primary">
    <div class="row text-center">
        <h1>Create an Account</h1>
    </div>
</header>

<div class="container">

<h1>Create New User</h1>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, " error") %> prohibited this user from being saved:</h4>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- need to add devise -->

<%= render :partial => 'form', :locals => {:user => @user} %>

</div>