div#profile {
	table{
		width: 100%;
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 0 auto;
		text-align: center;	
		background-color: white;
		.name {
			font-size: 40px;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
}

div#user_suggestions {
	width: 20px;
	td {
		background-color: white;
		padding: 20px;
		border-top: 1px;
	}
}