<h1>Welcome to suggestions map!</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


<script type="text/javascript">

	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	//   markers = handler.addMarkers([
	//     {
	//       "lat": -33.9,
	//       "lng": 18.4,
	//       "picture": {
	//         "url": "http://maps.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png",
	//         "width":  36,
	//         "height": 36
	//       },
	//       "infowindow": "hello!"
	//     }
	//   ]);
	//   handler.bounds.extendWith(markers);
	//   handler.fitMapToBounds();
	// }
	markers = handler.addMarkers(<%=raw @hash.to_json %>);
	);

</script>